/*
 * @Author: nongjianzhen 
 * @Date: 2019-10-06 13:58:18 
 * @Last Modified by: nongjianzhen
 * @Last Modified time: 2019-10-10 17:41:39
 */
.sussec {
  width: 429px;
  height: 180px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 6;
  border: 5px solid #484848;
}

.sussec .sussecTop {
  width: 390px;
  height: 71px;
  margin: auto;
  position: relative;
}

.sussec .sussecTop .suss {
  display: inline-block;
  margin-top: 21px;
}

.sussec .sussecTop .closesus {
  width: 15px;
  height: 15px;
  background: #7a7b7c;
  color: #fff;
  font-size: 9px;
  text-align: center;
  position: absolute;
  right: -10px;
  top: 0;
  cursor: pointer;
}

.sussec .sussecCon {
  width: 358px;
  height: 39px;
  border: 1px dashed #ccc;
  margin: auto;
  font-size: 11px;
  text-align: center;
  line-height: 39px;
}

.sussec .sussecB {
  width: 216px;
  margin: auto;
  margin-top: 20px;
}

.sussec .sussecB .sussecBReturn {
  width: 98px;
  height: 28px;
  border: 1px solid #ccc;
  color: #505966;
  line-height: 28px;
  text-align: center;
  font-size: 11px;
  float: left;
  margin-right: 12px;
  cursor: pointer;
}

.sussec .sussecB .Settlement {
  width: 98px;
  height: 28px;
  border: 1px solid #cc0000;
  color: #505966;
  line-height: 28px;
  text-align: center;
  font-size: 11px;
  background: #fb4848;
  float: left;
  cursor: pointer;
}

.conten {
  width: 1290px;
  margin: auto;
}

.conten .listtop {
  height: 40px;
  line-height: 40px;
}

.conten .listcon {
  height: 100%;
  display: inline-block;
}

.conten .listcon .title {
  font-size: 12px;
  font-weight: 600;
  line-height: 30px;
  padding-left: 10px;
  background: #f1f1f1;
  height: 30px;
}

.conten .listcon .listleft {
  width: 198px;
  float: left;
}

.conten .listcon .listleft .listLeftTitle {
  height: 497px;
  border: 1px solid #ccc;
}

.conten .listcon .listleft .listLeftTitle h2 {
  border-bottom: 1px solid #ccc;
}

.conten .listcon .listleft .listLeftTitle .listTitle {
  font-size: 11px;
}

.conten .listcon .listleft .listLeftTitle .listTitle li {
  margin-top: 8px;
  padding-left: 20px;
  cursor: pointer;
  position: relative;
}

.conten .listcon .listleft .listLeftTitle .listTitle li span {
  display: block;
  width: 2px;
  height: 2px;
  background: #239cdc;
  position: absolute;
  left: 10px;
  top: 9px;
  display: none;
}

.conten .listcon .listleft .listLeftTitle .listTitle li:hover {
  color: #239cdc;
  font-weight: 600;
}

.conten .listcon .listleft .listLeftTitle .listTitle li:hover span {
  display: block;
}

.conten .listcon .listleft .leftConten {
  margin-top: 20px;
}

.conten .listcon .listleft .leftConten h2 {
  border-top: 2px solid #239ee2;
}

.conten .listcon .listleft .leftConten .bestSellers {
  height: 230px;
}

.conten .listcon .listleft .leftConten .bestSellers img {
  width: 160px;
  height: 160px;
  display: block;
  margin: auto;
}

.conten .listcon .listleft .leftConten .bestSellers .bestSellersTitle {
  width: 160px;
  font-size: 11px;
  margin: auto;
}

.conten .listcon .listleft .leftConten .bestSellers .price {
  font-size: 11px;
  color: #e40000;
  margin-left: 15px;
  margin-top: 8px;
}

.conten .listcon .listleft .leftConten .bestSellers .price span {
  font-size: 9px;
  color: #333333;
}

.conten .listcon .listleft .leftConten .bestSellers .price em {
  font-weight: 600;
}

.conten .listcon .listRight {
  width: 898px;
  float: right;
  margin-left: 10px;
}

.conten .listcon .listRight h2 {
  border: 1px solid #ccc;
}

.conten .listcon .listRight .screen {
  height: 225px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #ccc;
}

.conten .listcon .listRight .screen .screenList {
  width: 878px;
  margin: auto;
}

.conten .listcon .listRight .screen .screenList li {
  height: 40px;
  border-bottom: 1px dashed #ccc;
  align-items: center;
  font-size: 11px;
  line-height: 40px;
  position: relative;
}

.conten .listcon .listRight .screen .screenList li .screenListTitle {
  margin-left: 60px;
  font-weight: 600;
  float: left;
}

.conten .listcon .listRight .screen .screenList li .goodsnum {
  width: 34px;
  height: 20px;
  background: #005aa0;
  color: #fff;
  line-height: 20px;
  text-align: center;
  float: left;
  margin-top: 11px;
}

.conten .listcon .listRight .screen .screenList li span {
  margin-left: 26px;
  float: left;
  color: #239ee2;
  cursor: pointer;
}

.conten .listcon .listRight .screen .screenList li span:hover {
  text-decoration: underline;
  color: #f12e24;
}

.conten .listcon .listRight .screen .screenList li .screenListr {
  width: 100px;
  height: 20px;
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.conten .listcon .listRight .screen .screenList li .screenListr p {
  line-height: 20px;
  float: left;
}

.conten .listcon .listRight .screen .screenList li .Mul {
  width: 51px;
  height: 18px;
  border: 1px solid #ccc;
  line-height: 18px;
  background: #fdfdfd;
  float: right;
  text-align: center;
  font-weight: 600;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.conten .listcon .listRight .goodsmain {
  margin-top: 10px;
}

.conten .listcon .listRight .goodsmain h2 {
  height: 40px;
  padding-left: 0;
}

.conten .listcon .listRight .goodsmain h2 .xuanze {
  width: 63px;
  height: 26px;
  border: 2px solid #e40000;
  float: left;
  text-align: center;
  line-height: 26px;
  margin-left: 5px;
  margin-top: 5px;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.conten .listcon .listRight .goodsmain h2 .xuanze .bianjiao {
  position: absolute;
  right: 0;
  bottom: 0;
}

.conten .listcon .listRight .goodsmain h2 .xuanze .shangxia {
  position: absolute;
  right: -1px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.conten .listcon .listRight .goodsmain .goods {
  display: inline-block;
}

.conten .listcon .listRight .goodsmain .goods .goodsItem {
  width: 180px;
  height: 360px;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  float: left;
  font-size: 11px;
}

.conten .listcon .listRight .goodsmain .goods .goodsItem .Max {
  height: 214px;
  cursor: pointer;
}

.conten .listcon .listRight .goodsmain .goods .goodsItem .Max .Maximg {
  width: 160px;
  height: 160px;
}

.conten .listcon .listRight .goodsmain .goods .goodsItem .dian {
  background: url(../img/bg.line.1.gif);
  width: 160px;
  height: 1px;
}

.conten .listcon .listRight .goodsmain .goods .goodsItem .goodstitle {
  width: 160px;
  margin-top: 12px;
  cursor: pointer;
}

.conten .listcon .listRight .goodsmain .goods .goodsItem .goodstitle:hover {
  text-decoration: underline;
  color: #239ee2;
}

.conten .listcon .listRight .goodsmain .goods .goodsItem .goodsprice {
  margin-top: -6px;
}

.conten .listcon .listRight .goodsmain .goods .goodsItem .goodsprice em {
  color: #f12e24;
  font-size: 14px;
  font-weight: 600;
}

.conten .listcon .listRight .goodsmain .goods .goodsItem .icon {
  height: 12px;
  margin-top: 11px;
  background: url(../img/bg.icon.2.1.gif) no-repeat;
}

.conten .listcon .listRight .goodsmain .goods .goodsItem .icon span {
  margin-left: 17px;
  font-size: 10px;
}

.conten .listcon .listRight .goodsmain .goods .goodsItem .more_link {
  margin-top: 8px;
  display: flex;
}

.conten .listcon .listRight .goodsmain .goods .goodsItem .more_link span {
  cursor: pointer;
}

.conten .listcon .listRight .goodsmain .goods .goodsItem .more_link .addtocart {
  display: block;
  width: 76px;
  height: 18px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  text-align: center;
  line-height: 18px;
}

.conten .listcon .listRight .goodsmain .goods .goodsItem .more_link .zoom {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  background: url(../img/bg.icon.zoom.gif);
}

.conten .listcon .listRight .goodsmain .goods .goodsItem .more_link .favorit {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/bg.icon.favorit.gif);
  margin-left: 5px;
}

.conten .listcon .listRight .goodsmain .goods .goodsItem .more_link .pk {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/bg.icon.pk.gif);
  margin-left: 5px;
}

.conten .listcon .listRight .goodsmain .pagefooter {
  margin-top: 68px;
  display: flex;
  position: relative;
}

.conten .listcon .listRight .goodsmain .pagefooter .page {
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.conten .listcon .listRight .goodsmain .pagefooter .page span {
  display: block;
  border: 1px solid #ccc;
  width: 33px;
  height: 33px;
  margin-left: 1px;
  line-height: 33px;
  text-align: center;
  cursor: pointer;
}

.conten .listcon .listRight .goodsmain .pagefooter .page .active {
  background: #F12E24;
}

.conten .listcon .listRight .goodsmain .pagefooter .prev {
  width: 56px;
  height: 33px;
  margin-right: 5px;
  color: #d6d8e1;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 33px;
  position: absolute;
  left: 257px;
  cursor: pointer;
}

.conten .listcon .listRight .goodsmain .pagefooter .next {
  width: 56px;
  height: 33px;
  margin-left: 5px;
  color: #d6d8e1;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 33px;
  position: absolute;
  right: 257px;
  cursor: pointer;
}

.conten .listcon .listRight .goodsmain .pagefooter .next:hover {
  border: 1px solid #F12E24;
  color: #F12E24;
}

.conten .listcon .listRight .goodsmain .pagefooter .prev:hover {
  border: 1px solid #F12E24;
  color: #F12E24;
}

.conten .listcon .listRight .goodsmain .pagefooter p {
  margin-left: 31px;
  line-height: 33px;
  position: absolute;
  right: 197px;
}
